.navbar {
    background-color: pink;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    display:"flex";
    flex-direction:"row";
  }
  
  .navbar-link {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
  }
  .toolbar {
    display: flex;
    justify-content: space-between;
  }
  