.login-container {
    margin-bottom: 3%;
    background-color: rgb(242, 240, 240);
    padding: 3%;
    width: 45%;
    direction: rtl;
}

.input-field {
    width: 70%;
    outline: none;
    margin-right: 12%;
    text-align: center;
}

.password-toggle {
    color: rgb(224, 193, 186);
}

.submit-button {
    margin-top: 1rem;
    background-color: rgb(224, 193, 186);
    box-shadow: none;
    padding: 2%;
    width: 70%;
    margin-right: 12%;
    text-align: center;
}

.signup-link {
    margin-right: 34%;
    color: black;
    text-decoration: underline;
}
